/* p is 16px */

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: "Lucida Console", "Consolas", "Monaco", monospace;
  margin: 0;
  background-color: #1B1C1E;
  color: #ffffff;
}

.nav-inner,
header,
main,
.footer-inner {
  max-width: 1280px;
  margin: 0 auto;
}

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 100px;
  background-color: #131313;
}

/* logo */
nav .logo img {
  float: left;
  width: 50px;
  margin: 0px auto;
  display: flex;
  font-weight: 500;
  text-decoration: none;
}

/* Style the navigation bar links */
nav a {
  display: inline-block;
  justify-content: space-around;
  color: #00BFFF;
  padding: 14px 10px;
  text-decoration: none;
  align-items: center;
}

nav span {
  padding-bottom: 5px;
  border-bottom: 2px dashed #FFC0CB;
}

/* Change color on hover */
nav a:hover {
  color: #BFEFFF;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  list-style: none;
  display: block;
  padding: 5pt;
  text-decoration: none;
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

header {
  padding: 100px;
}

/* Change font size of heading based on screen size */
header h1 {
  font-size: 30px;
  color: #ffffff;
}

header h1 span {
  color: #1B1C1E
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 25px;
}


@keyframes waviy {

  0%,
  40%,
  100% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-20px)
  }
}

header h2 {
  color: #FFC0CB;
}

header h3 {
  color: #40E0D0;
}

main a,
main a:visited,
footer a,
footer a:visited {
  color: #FFFF00;
  text-decoration: underline 2px dashed #ffff00;
}

main img {
  width: 100%;
  max-width: 400px;
}

section h2 {
  color: #40E0D0;
}

/* Main column */
main {
  /* IE10 */
  flex: 70%;
  padding: 20px;
}

main .rolling-box {
  padding-top: 60px;
}

.carousel img {
  margin: 10px;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: rgb(207, 207, 207);
  border-radius: 50%;

  cursor: pointer;
}


.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

input[type=text],
input[type=email],
textarea {
  margin-bottom: .5rem;
  font-size: 13px;
}

textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: #FFFF00;
  border-style: hidden;
  border-radius: .2rem;
  padding: .5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Footer */
footer {
  padding: 50px 20px 20px;
  text-align: center;
  background-color: #383838;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  /* mobile nav */
  /* how to make links appear and disapper? */

  nav {
    padding: 15px 0px;
  }

  nav .logo {
    float: left;
    width: auto;
    justify-content: center;
  }

  nav .links {
    float: none;
    overflow: hidden;
    position: fixed;
    box-sizing: content-box;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(1em);
    visibility: collapse;
    transition: all .5s ease-in-out;
  }

  /* nav .links a {
    font-size: 20px;
  } */

  nav :checked~.links {
    bottom: 0;
    visibility: visible;
  }

  nav .hamburger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }

  nav .hamburger .line {
    width: 30px;
    height: 5px;
    background-color: #FDFAF2;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
  }

  nav .hamburger,
  nav .hamburger:hover {
    display: block;
    cursor: pointer;
  }

  nav :checked~.hamburger .line:nth-child(1) {
    transform: translateY(10px) rotate(300deg);
  }

  nav :checked~.hamburger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-300deg);
  }

  nav :checked~.hamburger .line:nth-child(2) {
    opacity: 0;
  }

  header {
    margin-top: 0;
  }

  header h1 {
    font-size: 9px;
    color: #ffffff;
  }

  header h3.mobile {
    text-align: center;
  }


}

@media (prefers-color-scheme: dark) {}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }

  .flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: .25;
    cursor: pointer;
  }
}