/* p is 16px */

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: "Lucida Console", "Consolas", "Monaco", monospace;
  margin: 0;
  background-color: #1B1C1E;
  color: #ffffff;
}

.nav-inner,
header,
main,
.footer-inner {
  max-width: 1280px;
  margin: 0 auto;
}

nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  background-color: #131313;
}

/* logo */

.logo {
  float: left;
}

nav .logo img {
  width: 50px;
  margin: 0px auto;
  font-weight: 500;
  text-decoration: none;
  vertical-align: middle;
}

nav .logo span {
  vertical-align: middle;
  font-size: 20px;
  /* font-family: */
}

/* Style the navigation bar links */
nav a {
  display: inline-block;
  justify-content: space-around;
  color: #00BFFF;
  padding: 14px 10px;
  text-decoration: none;
  align-items: center;
}

nav ul span {
  padding-bottom: 5px;
  border-bottom: 2px dashed #FFC0CB;
}

/* Change color on hover */
nav a:hover {
  color: #BFEFFF;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  list-style: none;
  display: block;
  padding: 5pt;
  text-decoration: none;
}

nav .hamburger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

.screen-reader {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

header {
  margin-top: 150px;
  padding: 20px;
}

/* Change font size of heading based on screen size */
header h1 {
  font-size: 24px;
  color: #ffffff;
}

header h1 span {
  color: #1B1C1E
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 25px;
}

header h2 {
  color: #FFC0CB;
}

header h3 {
  color: #40E0D0;
}

main a,
main a:visited,
footer a,
footer a:visited {
  color: #FFFF00;
  text-decoration: underline 2px dashed #ffff00;
}

section h2 {
  color: #40E0D0;
}

/* Main column */
main {
  /* IE10 */
  flex: 70%;
  padding: 20px;
}

main img {
  width: 100%;
  max-width: 600px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container img {
  display: block;
}

.container .img-wrap {
  flex: 1;
  padding-right: 30px;
  padding-top: 1rem;
  margin-bottom: 10px;
}

.container .wrap-around {
  flex: 1;
}

.fun-container h4 {
  margin-top: 0px;
}

.fun-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.fun-container>div {
  width: 200px;
  margin: 10px 10px;
  text-align: left;
}

main .rolling-box {
  padding-top: 60px;
}

.accordion {
  background-color: #383838;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.active .accordion,
.accordion:hover {
  background-color: #ccc;
  color: black;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active .accordion:after {
  content: '\2212';
}

.active .panel {
  height: auto;
  padding: 25px 0px;
}

.panel {
  box-sizing: border-box;
  padding: 0px 18px;
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.carousel img {
  margin: 10px;
}

#contact h2 {
  display: flex;
  justify-content: center;
}

#contact button {
  background-color: #FFFF00;
  border-style: hidden;
  border-radius: .2rem;
  padding: .75rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

/* reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 90%;
  color: black;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0 0;
}

#fs-frm fieldset {
  border-image-width: 0;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .8rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}

#fs-frm select {
  text-transform: none;
}

/* Footer */
footer {
  padding: 50px 20px 20px;
  text-align: center;
  background-color: #383838;
  margin-top: 20px;
}

footer a img,
footer a span {
  vertical-align: middle;
}

@media screen and (max-width: 1040px) {

  header h1 {
    font-size: 22px;
  }


}

@media screen and (max-width: 768px) {
  /* mobile nav */
  /* how to make links appear and disapper? */

  nav {
    padding: 15px 0px;
  }

  nav .logo {
    float: left;
    width: auto;
    justify-content: center;
  }

  nav .links {
    float: none;
    overflow: hidden;
    position: fixed;
    box-sizing: content-box;
    z-index: 9;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(1em);
    visibility: collapse;
    transition: all .5s ease-in-out;
  }

  nav .links a {
    font-size: 20px;
  }

  nav :checked~.links {
    bottom: 0;
    visibility: visible;
  }

  nav .hamburger .line {
    width: 30px;
    height: 5px;
    background-color: #FDFAF2;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
  }

  nav .hamburger,
  nav .hamburger:hover {
    display: block;
    cursor: pointer;
  }

  nav :checked~.hamburger .line:nth-child(1) {
    transform: translateY(10px) rotate(300deg);
  }

  nav :checked~.hamburger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-300deg);
  }

  nav :checked~.hamburger .line:nth-child(2) {
    opacity: 0;
  }

  header h1 {
    font-size: 9px;
    color: #ffffff;
  }

  header h3.mobile {
    text-align: center;
  }

  .carousel img {
    padding: 10px 0;
  }

  .container {
    flex-direction: column;
  }

  .container .img-wrap {
    padding: 0;
  }

  .img-wrap {
    width: 100%;
  }




}

@media (prefers-color-scheme: dark) {}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }

  header h2 {
    color: rgb(255, 133, 153);
  }

  header h1 {
    color: black;
  }

  header h1 span {
    color: #ffffff;
  }

  header h3,
  main h2 {
    color: rgb(55, 196, 181);
  }

  main a {
    color: rgb(104, 104, 0);
  }

  .flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: .25;
    cursor: pointer;
  }
}