body{
    padding: 0px;
    margin:0;
    background-color: #000000;
    font-family: Calibri;
  }


  nav{
    position: fixed;
    z-index: 10;
    left: 0;
    right:0;
    top: 0;
    font-family: Calibri;
    padding: 0 5%;
    height: 100px;
    background-color: #000000;
  }
  
  nav .logo{
    float: left; 
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    font-family: Berlin Sans FB;
    color: #FDFAF2;
    text-decoration: none;
  }
  nav .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav .links li{
    list-style: none;
  }
  
  nav .links a {
    display: block;
    padding: 10pt;
    font-size: 16px;
    font-weight: bold;
    color: #FDFAF2;
    text-decoration: none;
    
  }
  
  #nav-toggle {
    position: absolute;
    top: -100px;
  }
  
  nav .hamburger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  
  nav .hamburger .line {
    width: 30px;
    height: 5px;
    background-color:#FDFAF2;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
  }
  
  .header {
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;
    color: #FDFAF2;
    background-color: #000000;
  }
  
  .header h1 {
    font-family: Berlin Sans FB;
  }
  
  .header h2 {
    font-family: Tw Cen MT;
  }
  
  .button {
    border: none;
    width: 60%;
    padding: 10px 25px;
    text-align: center;
    font-weight:700;
    display: inline-block;
    font-size: 20px;
    font-family: TW Cen MT, bold;
    margin: 4px 2px;
    transition-duration: 0.1s;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 4px 8px rgba(0,0,0,0.5);
  }
  
  .button a{
    text-decoration: none;
    color:#000000;
  }
  
  a:visited{
    text-decoration: none;
    color:none;
  }
  
  .start {
    background-color: #9FCEC5; 
    color: black;
  }
  
  .start:hover {
    background-color: #608F86;
    color: #FDFAF2;
  }
  
  .pitch {
    margin: 15px;
  }
  
  .ready {
    font-family: Cambria, Bold;
    font-size: 28px;
    text-align: center;
    align-items: center;
    margin: 20px;
  }
  
  .circles {
    background-color: #000000;
    transition: transform .2s;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
  
  .intro{
    transition: transform .2s;
    margin-left: 20px;
    margin-right: 20px;
  }
  .intro:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
  
  .footer {
    background-color: #000000;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    color: #FDFAF2;
  }
  
  @media screen and (max-width: 768px){
    nav .logo{
      float: none;
      width: auto;
      justify-content: center;
    }
  
    nav .links{
      float: none;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      top: 100px;
      bottom: 100%;
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: rgba(0,0,0,.8);
      backdrop-filter: blur(1em);
      overflow: hidden;
      transition: all .5s ease-in-out;
    }
    nav .links a{
      font-size: 20px;
    }
    nav :checked ~ .links {
      bottom: 0;
    }
    nav .hamburger {
      display: block;
    }
    nav :checked ~ .hamburger .line:nth-child(1){
      transform: translateY(10px) rotate(300deg);
    }
    nav :checked ~ .hamburger .line:nth-child(3){
      transform: translateY(-10px) rotate(-300deg);
    }
    nav :checked ~ .hamburger .line:nth-child(2){
      opacity: 0;
    }
  }